*.iml
.classpath
.project
target/
?/
*/.m2/
\.idea/
.DS_Store
.settings
docker-compose.yml
start-all.sh
start-docker-compose.sh
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
